.benefist__div-icons {
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefist__title {
  color: var(--color-black);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #212121;
}

.benefist__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .benefist__list {
    margin-bottom: 30px;

    &:nth-child(4n) {
      margin-bottom: 0px;
    }
  }

  .benefist__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .benefist {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .benefist__title {
    margin-right: auto;
  }

  .benefist__list {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefist {
    gap: 30px;
  }

  .benefist__list {
    width: calc((100% - 90px) / 4);
  }
}
