.compani {
  display: flex;
  flex-wrap: wrap;
}

.compani__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #2196f3;
    border: solid 1px #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .compani {
    gap: 30px;
  }

  .compani__list-logo {
    width: calc((100% - 30px) / 2);
  }

  .compani__logo {
    max-width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .compani__logo {
    width: 226px;
  }

  .compani__list-logo {
    width: calc((100% - 60px) / 3);
  }

  .compani {
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .compani__logo {
    width: 170px;
  }

  .compani__list-logo {
    width: calc((100% - 150px) / 6);
  }

  .compani {
    gap: 30px;
  }
}
