.logo {
  color: var(--color-black);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 92px;
}

.logo__span {
  color: var(--color-blue);
}

.footer__logo {
  color: var(--color-white);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer__logo-span {
  color: var(--color-blue);
}
