:root {
  --color-blue: #2196f3;
  --color-black: #212121;
  --color-grey: #757575;
  --color-white: #ffffff;
  --background-color: #f5f5f5;
  --background-color-two: #f5f4fa;
  --footer-color: #2f303a;
  --border: #eeeeee;
}

$--border: #eeeeee;
